<div class="title-block">
  <h3 class="title">Home</h3>
  <p class="title-description">Sweet home</p>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
          <section class="section">
            <p class="lead">This is a demo project that uses a <a href="https://www.spotify.com" target="_blank">Spotify</a> API. You can login under you Spotify account and see some features.</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
