<div class="title-block">
  <h3 class="title">Top Tracks</h3>
  <p class="title-description">What you hear a lot</p>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
          <section class="example">
            <div class="label label-info m-b-md">
              <span class="total-items"></span> found
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Artist</th>
                  <th>Album</th>
                  <th>Duration</th>
                  <th>Popularity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="top-tracks-list"></tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>


