<div class="application__header"></div>
<div class="application__sidebar"></div>
<div class="sidebar-overlay"></div>
<div class="application__content"></div>
<div class="application__overlay"></div>
<div class="application__flashes"></div>
